table{
    border: 1px solid pink;
    border-collapse: collapse;
    border-spacing: 0;
}

th, td{
    padding: 8px 16px;
    border: 1px solid black;
    text-align: left;
}

th {
    background-color: blanchedalmond;
    color: black;
    font-weight: 600;
}